<article class="md-post md-post--excerpt">
  <header class="md-post__header">
    <div class="md-post__meta md-meta">
      <ul class="md-meta__list">
        <li class="md-meta__item">
          <time datetime="{{ post.config.date.created }}">
            {{- post.config.date.created | date -}}
          </time>
        </li>
        {% if post.categories %}
          <li class="md-meta__item">
            {{ lang.t("blog.categories.in") }}
            {% for category in post.categories %}
              <a href="{{ category.url | url }}" class="md-meta__link">
                {{- category.title -}}
              </a>
              {%- if loop.revindex > 1 %}, {% endif -%}
            {% endfor -%}
          </li>
        {% endif %}
      </ul>
    </div>
  </header>
  <div class="md-post__content md-typeset">
    {% if post.toc.items %}
      <p class="md-post__title">
        <a href="{{ post.url | url }}">{{ post.toc.items[0].title }}</a>
      </p>
    {% endif %}
  </div>
</article>
