{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1>{{ .Title }}</h1>
      <p class="post-meta">
        {{ if not .Date.IsZero }}
          <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "2006-01-02" }}</time>
          {{ if site.Params.showReadingTime }} · {{ .ReadingTime }} 分钟阅读{{ end }}
        {{ else if site.Params.showReadingTime }}
          {{ .ReadingTime }} 分钟阅读
        {{ end }}
      </p>
      {{ with .Params.tags }}
        <p class="post-tags">
          {{ range . }}
            <a href="{{ (printf "/tags/%s/" (. | urlize)) | relURL }}">#{{ . }}</a>
          {{ end }}
        </p>
      {{ end }}
    </header>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
